.modal.hide.fade#tos{:style => "display: none;"}
  .modal-header
    %a{:class => "close", :"data-dismiss" => "modal", :href => "#"}
      &times;
    %h2
      = t("titles.tos")
  .modal-body
    %ol
      %li
        %h3
          Acceptance of Terms
        %p
          The City of Philadelphia (&quot;City&quot;) provides the Adopt-a-Thing program (&quot;AAH&quot;) to you subject to the following Terms of Service Agreement (&quot;Agreement&quot;) which may be updated by us from time to time without notice to you. By accessing and using AAH, you accept and agree to be bound by the terms and provision of this Agreement.
      %li
        %h3
          Description of Adopt-a-Thing
        %p
          Adopt-a-Hydrant is an initiative of the City to encourage residents to shovel out snowed-in fire hydrants. The AAH website allows users to &quot;adopt&quot; a fire hydrant, or state that you intend to help shovel that fire hydrant out if it gets covered by snow.
        %p
          Unless explicitly stated otherwise, any new features that augment or enhance AAH are covered by this Agreement.
    %p
  
